# Core ML/LLM
langchain
langchain-community
langchain-openai
langchain-qdrant
openai

# Vector Database & Embeddings
qdrant-client
chromadb
sentence-transformers

# Web & API
fastapi
uvicorn
streamlit
beautifulsoup4
requests

# Data Processing
pandas
pypdf
python-docx
markdown
chardet
pdfplumber
PyPDF2
pdfminer.six

# Utilities
python-dotenv
loguru
tqdm
torch>=2.9.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability